.card-widget.card-shuo
  .card-content(style='height:auto;min-height:280px;')
    .item-headline
       i.fas.fa-comments
       span &#x8BF4;&#x8BF4
       a#shuovisualchange(style='cursor:pointer;float:right', onclick='shuovisualchange()') 编辑
    #artitalk_main(style='width:100%;height:100%;padding:10px')