.cbp_tmlabel:after {
   border-right-color: transparent!important;
}
#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel:after {
 border-right-color: transparent!important;

}
#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
    margin: 0 0 30px 0 !important;

}
.artitalk_avatar{
    display: none !important;

}
.shuoshuo_time span{
display:block;
}
.shuoshuo_time {
padding-bottom:30px;
}
.power{
display:none;	
}