.cbp_tmlabel:after {
  border-right-color: transparent !important;
}

#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel:after {
  border-right-color: transparent !important;
}

#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
  display: inline-block!important;
  margin: 0 0 30px 0px !important;
}

.artitalk_avatar {
  width: 40px;
  height: 40px;
}
span.shuoshuo_author_img {
    display: none;
}

.power {
  display: none;
}
